@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    123 Main St<br />
    Anywhereville, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong> <a href="mailto:contact@anywherevillelibrary.com">contact@anywherevillelibrary.com</a><br />
    
</address>
